@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@tailwind base;
@tailwind components;

body {
  background: white;
  min-width: 280px;
}

body.dark {
  background: #000;
}

.darkMode {
  @apply dark:text-white text-black dark:bg-black bg-white;
}

@tailwind utilities;
